@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --color-fondo: #96C9F4;
    --color-titulo: #0F67B1;
    --color-botones: #3FA2F6;
    --color-seccionMensaje: #FFFFFF;

    --box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    --fuente: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--color-fondo);
    font-family: var(--fuente);
    font-weight: 400;
}

.encabezado_titulo{
    padding: 2.5rem;
    color: var(--color-titulo);
    font-family: var(--fuente-titulo);
    font-weight: 600;
}

.seccion_principal{
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.seccion_usuario{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 3rem;
    gap: 60%;
}

::placeholder { color: lightgrey; font-weight: 500; }

.mensajeUsuario{
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    margin-bottom: 1rem;
}

.imagen_info{
    width: 52%;
}

.seccion_mensaje{
    width: 20%;
    height: auto;
    background-color: var(--color-seccionMensaje);
    padding: 1.5rem 3rem 4rem 3rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: var(--box-shadow);
}

#mensaje_encriptado, #mensajeUsuario{
    width: 100%;
    border-style: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    outline-style: none;
    resize: none;
}

.imagen{
    visibility: hidden;
}

.imagen_texto{
    visibility: hidden;
}

.btnCopiar{
    display: none; /*oculta el elemento*/
}

.btn{
    width: 49%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 2px solid var(--color-titulo);
    border-radius: 1rem;
    background-color: var(--color-botones);
    cursor: pointer;
}


@media (max-width: 912px) {
    .seccion_principal{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .seccion_usuario{
        align-items: center;
        gap: 1rem;
    }
    
    .imagenTexto{
        width: 120%;
    }

    .imagenImg{
        display: none;
    }
}


@media (max-width: 570px) {

    .encabezado_titulo{
        padding: 1rem;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .imagen_info{
        width: 100%;
    }

    .btn{
        width: 100%;
    }

    #mensaje_encriptado, #mensajeUsuario{
        font-size: 1rem;
    }
}

